* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: font-family: 'Poppins', sans-serif;
    background-color: #c7ecee;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    margin: auto;
    align-items: center;
    
}
.logo-head, nav-link {
    display: flex;

}
 
.logo-head {
    flex: 1;
    margin-top: 70px;

}

nav {
flex: 1;
align-items: center;
   
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
    
}

.nav-link {
    color: coral;
    text-decoration: none;
    
}

.main-container {
    align-items: center;
    margin-top: 100px;

}


.main-container p { 
    text-align: center;
    line-height: 1.5;
    margin: 10px 50px 20px 50px;

}

h2 {
    text-align: center;
    margin: 30px;
    text-transform: capitalize;
}

.column {
    column-count: 3;
    column-gap: 30px;
    margin: 30px;
  }

  h3 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
  }

  hr {
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 30px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .copyright-text {
    text-align: center;
    font-size: 1rem;
  }

